@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    text-align: center;
    font-family: 'Lobster', cursive;
    background-image: url("https://www.fg-a.com/wallpapers/white-marble-4-2018.jpg");
    background-size: cover;
    font-size: 100px;
}

.next{
    font:  500px; ;
}
